.contact form div {
  display: flex;
}
.contact textarea {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
}
.contact input {
  margin-bottom: 20px;
  margin-right: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  
} 
.decrip{
  display: flex;
  flex-direction: column;
  gap:'10px'
}
.contact form {
  padding: 30px;
}

.shadow{
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.contactNum{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 20px;
  background-color: #FFF;
  flex-wrap: wrap;
}

.cNum,.cMail{
display: flex;
gap: 10px;
align-items: center;
/* width: 100%; */
height: 20px;
}

.cText{
  font-size: 15px;
}


@media screen and (max-width: 800px) {
  .contact h4 {
    width: 100%;
    margin-bottom: 30px;
  }
  .contact form div {
    flex-direction: column;
  }
  .contact input {
    width: 100%;
  }
}
