.footerContact {
  background-color: orange;
  padding: 40px 0;
  color: #fff;
}
.footerContact h1 {
  font-size: 40px;
}
footer {
  background-color: #1d2636;
  padding: 50px 0;
  color: #fff;
}
footer .Footercontainer {
  display: grid;
  grid-template-columns: 6fr 5fr ;
  gap: 50px;
  width: 90%;
  margin: auto;

}
footer img {
  width: 150px;
}
footer h2 {
  font-weight: 500;
}
footer p {
  color: grey;
  margin: 20px 0;
}
/* footer input {
  background-color: #fff;
  padding: 17px;
  width: 100%;
  border-radius: 5px;
} */
.inputRow{
  display: flex;
 border-radius: 10px;
  width: 100%;
  background-color: #fff;
  gap: 10px;
}
.textInput{
  width: 100%;
  padding: 20px;
}
footer h3 {
  font-weight: 500;
  margin-bottom: 30px;
}
/* footer ul {
  display: block;
} */
footer ul li {
  display: block;
  color: white !important;

}
.legal {
  text-align: center;
  padding: 20px;
  background: #1d2636;
  color: rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.GD{
  color: gold;
  font-size: 8px;
}

.Footer-box{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* align-items: center; */
  justify-content: space-between;
  /* background-color: aqua; */
  width: 500px;
  height: 100%;
  gap: 30px;

}

.PARTNERS{
  /* background-color: red; */
  display: flex;
  /* justify-content: center; */
  align-items: flex-start;
  flex-direction: column;
  gap: 0px;
}

.FList{
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* background-color: greenyellow; */
  color: white;
}

.listText{
font-size: 15px;
font-family:'Times New Roman', Times, serif;
font-weight: 500;
color: white !important;
/* text-transform: uppercase; */
/* text-align: center; */

}

.listBox{
  display: grid;
  grid-template-columns: 0.2fr 5fr;
  display: flex;
  align-items: center;
  /* align-items: flex-start; */
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  gap: 10px;
  /* background-color: aquamarine; */
}
.listImg{
  width: 20px;
  height: 20px;
  border-radius: 100%;
  object-fit: contain;
}

@media screen and (max-width: 800px) {
  footer .Footercontainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    /* background-color: chartreuse; */
 
  }
  .box{
    /* background-color: gold; */
  }

  .Footer-box{
    display: flex;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* background-color: aqua; */
    width: 100%;
    gap: 20px;
    /* flex-direction: column; */
  }

  .Footer-Cbox{
    background-color: red;
   
  }

  .listText{
    font-size: 10px;
  }
}
